<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://th.bing.com/th/id/OIP.mRU-AbP-POroJu32ohVJOwAAAA?w=289&h=148&c=7&r=0&o=5&pid=1.7" 
            alt=""
            height="200px"
            srcset="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid doloribus aliquam culpa reprehenderit? Molestiae, fugiat itaque accusantium adipisci dolorem ut eaque. Nobis repudiandae perferendis deserunt provident odit. Ratione, culpa deserunt.
            Cum, quo rerum, dolore neque nobis iure et numquam ut at deleniti quaerat laborum vitae sequi ad. Molestias in dicta voluptatibus possimus animi consequatur laudantium necessitatibus, iusto hic corrupti asperiores!
            Odio vitae aut nihil pariatur sed ullam cupiditate neque, cumque distinctio velit assumenda laudantium, excepturi voluptatibus dolor quam ducimus. Illum voluptas excepturi veritatis cum nihil soluta obcaecati consequatur voluptatibus dignissimos.
            </a>
        </p>
    </div>
</div>