<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            Id="1" 
            photoCover="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSyoekM-K_c0a4DDESNa3Y6k-EBM4NPjiS6N8bzfbmg0Ubf5H3iDCqOcUcAdp66"
            cardTitle="NOVA VERSÃO DO ANGULAR JÁ DISPONÍVEL"
            cardDescription="Angular 18 lançado com foco em performance e acessibilidade. O Angular 18, a nova versão do popular framework JavaScript, foi lançado hoje. 
            A versão traz uma série de melhorias de performance e acessibilidade, além de novos recursos e funcionalidades. Um dos destaques da versão é a nova arquitetura 
            de renderização, que promete melhorar o desempenho de aplicações Angular em até 20%. A nova arquitetura também torna as aplicações mais responsivas e adaptáveis 
            a diferentes dispositivos">
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            Id="2"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnWwWcHpya-SzuqZL8A0EDfnQPpo0Z3BQCCw&usqp=CAU"
            cardTitle="Nova Versão do React já disponível !">
        </app-small-card>

        <app-small-card
            Id="3"
            photoCover="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAA81BMVEUAAAD///9NuodDVGZPv4o8k2s7TVlNu4eTk5O/v79CUmXDw8NPwIv6+vpQw43
            39/fw8PBRUVHW1tZBTGN6enocHBxcXFzf399ERESpqanJycmioqJmZmbo6OiDg4NMTEwyMjI8PDxBRWEODg5Ty5O0tLSSkpI1NTV+fn4WFhZHkHhCV2YgTzlEamwLGxNGrHxFe3FGg3Q3hmESKx8b
            QzAvc1QmXkRFqHpBQ2BBn3NKpoBCXGcIFA5ImHoyfFlJoH0UMiQtSUk5WlodMTAsREZFbm46UVsLFhMkNjkbLSsnREEVJyNLZHRKaXIuUEtGf3IZPS2iQ1uQAAANIUlEQVR4nOWd2WLTShKGZUccW
            fJueY8TnNiBkBVISIAkYM5hmwEG3v9pRl5iS1ZXqZcqS575b7gglvtzt2rrzcpxq9Youu5R4bh9MGy1rKlareFBu/nsyHXdRpX9+y2+R1c7nWKz2x2OLFij591us9jplPmawUVYKxzXEbJ1tY8LNa
            aWcBD2eypwKw16fYbWUBN2+vWWFt5crXq/Q9wiUsJar429dHIaDXZJBywdYbU3MKZ71GCXrFlkhEW9Vw+BpHonSQj3Cl1ivqm6u3sUjSMg3NtnwJtrn4DRmNClHp5RPTUerGaEZZdjeEZVN2Q0IiQ
            3L2K1GykRdtob4ZsxGvSjNmGHzvvJqKkd6mgSlgsmsZmORgXN/EOPsH+wYb6pNM2qDmFtMwYmroFOwKpBePQiJUDLetHbAOFeMzW+qZrKUY4qYT9VvqlU30Y1wnK6HThXk5GwkZaJiaquFOOoEBbT
            RluqyEJY5kuS1LUv7/6lCctP06aK6Kk0oixhdZg205qGsoiShG7aQHGNXErCo7RxhDqiI9xNmwWQVM1RhrCQNgmoAg1hlrzEuvYpCLPbg1Ml92IiYbYBJRCTCLM8ROdKGqgJhFnvwakSehEnzKqbi
            Ap3GihhNh19XKjrxwgzGKoBwgI4hLBsPp+7MSGLVmDC8jDtZisIyTRAwozlg0mC80WQMPuOMCrQLUKE2anJyAqq3QCEjbTbqyGgAgcQZqNsqKa6+FUUE2ah8KsucalYSJh+6V5PwoK/iHAv7ZZqSz
            RtIyLczjE6lWicCgh7abfTQIIYPE5YS28C1Fwv4rPEccLNrrGgVj2ZcFvt6KNi9nSdcMsC7rgO1v3+OuE2FGZwrZdt1gg7W5T1Amp1UMLtdYUrDTDCbTczc3UQws2tNuRUGybcxqxQpCJImNCFb94
            9AfUXpE8JrfkEffBv+Mve3eDPjGSKYcKkt/BsXLIBVV75O2Kd/kCf+c9P4HP+QwX6slLlKqGlLkCYmNg/KeUBOZd3EOJX7In3dx4AeG5D35WvvElqaFdMmGxIJ3kH/NYTiPDnP8gTPwMf8rz3IGHp
            9j6xpa6QUCJee1MBf1jnC4DoIZ347Q4gPHwFd2HpOrmhdRGhTGY/ugW/2H4PEe58B5/3aUc8SL3TS3i0PJFoaCjbXxFKlYBv4E60X0KId9+Ap/3rFHgL356Av6RTmsg0dD9OKFmceQcbm/wh0N6dz
            +Jn3X8F/t6/g3/Iyge5hu7FCCUnQ6/GcCdCxsY7FRubz6cQIWxmHFuunasUY0kou73nCTJOoUHn3QkfBXsK+GccS3bhymE8EkrH3BP42ysP4Dj9t+BJf0O/h39p3oWr0O2RUL468wHpRNBj3MVd2I
            +fgB31X4Hver5yJt3O+hqh9AetC/gXDjyGvLEBu/DO1FMsVI0Qqiy6OEMMnbzHgDyF55+Az3fySQFpWL0IoVIJEQlP85CxiXXiV8jMfAF7UCIgDWsQJqypfNK6duBhJJtjfAf+zPM+wi/BZXJAGlY
            tRKi4Mug1Mo7kcowrKCD1XyI5RUJauK5eiFCxzn1/CbbCfv8WaPvPsMeAcoodD7ZjSmZmqsGKsKP40SAXhhFBY/N1ZWx+QK/rIRyQ5scqZmamzpJQvcQG5xhBeAr1z9LY3P8FjdEdxE6/Vm5lf0mo
            Pmt/jcRVYCcujc13MCB9gM10Rc3MTFVfEmrseH0H/9iQx/CWxuYXGJCa5xRhtR4JderA10hkdQJENt6ioPEfD3L2cE5hX15otLK/INSa9H0NI9q/wMhmOi3yDQhIdw5/I12o6Cnm6i0IteZER3BVy
            n4PGptpQeMTFJB6IJ+6p5irviDU+rB1U4EjGzjH+BYEpMD/IQFp3vmj18g5oVrIthJc0LDfI+EpWLr4hdQq1T3FXLUZoe6k6B8kvoLCU+/0M5hTPJAFpCsVZoTHmp9GcuEgPAVfNshTEAakKx1PCc
            vaU2oTOM+xH6DwFCI/xDyFbhda9WpAqByUrvQGCU8hYwPIfwWbmfFEv4kdM0ILKRldQp0o7kIfcYV6nmJFaLIaGMkxwPBU3IWIp1DPKUIqBoRGixPgHAMMT4WA2FyaRkC6UjMgNDrp6Rpp2QlYPY3
            p8CNS+tEJSJfqmhJi4akDhafxLnxJHZCGCavPjZ5wBVelbLgEHpXnwYO9dGu2hmlYsxqGq6BuQGPjVM7lOhHzFCXNgPRRo4ZlvH0LCU9vIf8eBbxjCEiXKpoTniG5MFg9jRDCpQtbqcgtlGtOiMy3
            ObcSHsM/R7pQqcgNEJrvorzSCU9XeosFRsaNC/iemT8EC08TjY3/G6mQGpqZqQoWxXpLONtHChpzeYewuykRdKF1bFEsR4Q9Rn6Md6LnnyCfnRC0rW2RnJ6XR14lKOWdj9FzkM8sp1jqwBpSPOYML
            WjAiJ6HFLkvjT3FVC2L5oRHdL4NJvS/mKzPkxIV4RVSPT0BjQ226sK+JWkYEZ+FrumDPQaaU8ivutiM7pHe+AjNY1CtutiMkBUa9m/xOD2EK6SOQ2JmaIUYm0uhscFWXYzN8l4eTZBOFBqbt3CFNJ
            /XrpDGRXceMNKJ9mnc2PhfkPIaXRdSeYuZkE78GCP0fMTBUASkC7VoYpq5kDV9sfDU818hixwJ38IhTVy6kMKaPu8O5MuXKD3FAUlu8ShsTd/vaCf6D8h06ISwTW1Le25NJKSgcRkpaPjnVOvzktS
            0SDeNTpDqaXgVOLZhxJbYMKKgZwR1mrCQSVMnZGw2GJAeEdTawhrBuXDIY3intxsLSCmqiRFhOcZyvg1Zn+eYFrnX5VrUhwlhJXB/6SnALpTebSAr13jeYl3YboVFeIoEpI5DamZm8xa1Ie0jkfA0
            X5m5fXTDCHVO8bxqOn8oELblJED0fNjMOA51Y8xnSAXCOjFIFP2XmwlI5+qazuOLdIGt6fO9U+S/31G3ZTaPT38y2w0y3/byLbJhxJHYHaqoouF6GkBweGpfbiwgnct0xRCgqxJsS5AxmqdvyYywy
            nD6HGJsQDn0ZibIncpGaxNhXcCFUFAVejOzWJvIcugOsiMakk1vZh7Xl+quEUYFFzSgLmQpctdM1nnjQracAIRGi7sgLVaysxx0CecYYkDqnGKmgcl+iyRdjFWMjVPiaMNyvwXP2UlKHsPmmafoG+
            x7StaVgrEpcXiK0L4nphNn5T0GeeliodXeNZ5henEra2zM1+eJtdp/yBCaTnUt2YmGy4BhrfaQcp13KWlsOALSqUL7gLkOZUVy4ZBKRKsuYtrV3o8vL6R6GiLkWnUR3o/PNUzvJXIMtlUXkTMV2M4
            OlghPx8QV0qV2I4RVpm9Bt5zMu5DJU1jLU1sW/3IdM5/Uic6Y6YuXh3w+ErLdhYBta8/zVJ/m6q8R0heGF5qgxqb0hOvQ29g5UXwHCL9BYjfHYVuftxsjZDtMH/MYfGZGcF4b37UrZ+BCd8dmO5hZ
            cOYe440IoLHhKV3MJDo3ke9ekglQAqdc3LWmpzkRId8VXcCWkzHfMuC+kJDNYVj3QkCm0sVU4fsDwoR8nSjcckKyYUSsPkBY5rshSOAxWOYp5ooc6B057ZrvGitBVcqesH1bAyRkPJM9VgIvsQWk2
            JnsXCUpK36MNPH6vIj6CCHjFSxra/q4qk9W7MKg9fstWMrfU0UPBSVdBhzVCL/fgvGOkoixqUzYvifhjpJcmXLdd1Sh8JQxII1d9bjBu4L+LHMMm6vIbUncFcR5MeCyBM6452cQ49nknV1XC59IsQ
            kdkNSdXYz3HC/CU6MjdXD14jibvTtv5vYZcwrJu/MYs/0bm9dTyN5/yGhPA7df4qs+Sd9hyThOr50SzSZ0kRTuIWV0GR/4ShfxiwExQrabn674xqjafcD/+3c6/x/cy71tVz1q3K2eKw/TbrWChiA
            gQsg3L0yvEQyIETIGqNRyEQqMcGsQBfccSxKq3gqRknZRBpxwK66WXS/MqBFugVsEHaEkYeZ7MaEHJQgzjpgIKEGY6YGaNETlCDPci8k9KEeYWaeBuwkVwoy6ftTRKxLm3AzeSC4HKEuYvUxjWJVs
            uSxh1vJFOB/UJsyVs+Q19qUBFQizVLuBajKmhLkG37yUiupAVY2AkHNKQ15N+RGqQchY8JeVsHRPSJjbS7cbm6LJF1rCXK7HNoWaqBeSXt6QMFfjW3WDqx6f4eUhDN7GNNz/geobaEKYKxc2Hai2C
            mom1JQwl+ts1uIMOslNIiYMhirfSsZ1tbX5jAiDGGczjHWVII2WMOhH/jiu62q+gDSE7Ga1jk1JbIYwiHL40qp95QiGhTBg3OXYyNAtEPAREQbqU8c5ZuYlJCrCQLt0kIOebBUmWYSEQcBKAjno6Y
            SfoEgJA3X6dZOl4q1638C5C0VNOFW/p9eV9Z5ebI2Lg3CqWuFYJeCpHxdIh2ZIXISByp1OsdntPseykNGw220WOx06wxITI+FC1YbrukfPmu2DYWv+irZaw4P2ceHIdYsNrp5b6b8HLysayqZ4fQA
            AAABJRU5ErkJggg=="
            cardTitle="Nova Versão do Vue já disponível !"
        >
        </app-small-card>
        
        <app-small-card
            Id="4"
            photoCover="https://blog.geekhunter.com.br/wp-content/uploads/2020/07/pngwing.com_.png"
            cardTitle="Nova Versão do Java já disponível !"
        >
        </app-small-card>
        <app-small-card
            Id="5"
            photoCover=""
            cardTitle=""
        >

        </app-small-card>
    </div>
</div>